@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";


$primary: #46139f;
$secondary: #ff7f50;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
));

@import "bootstrap";
